# Dolibarr Configuration
DOLIBARR_API_URL=https://bollente.uz/api/index.php/
DOLIBARR_API_KEY=77759613d55e2ae88e3db1202e53f860f2b9a93a

# Database
DB_PASSWORD=srlux_secure_password

# Environment
ENVIRONMENT=production

# Frontend
VITE_API_URL=http://localhost:8000
